<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
    <title>Dota Bot</title>
    <style media="screen">
      body{
        background-color: black !important;
        color : red !important;
      }
      h1 {
        color : red !important;
      }
      .ui.card {
        background-color: black !important;
      }
      .ui.segment{
        background-color: inherit !important;
      }
      .red {
        color : red !important;
      }
    </style>
  </head>

  <body>
    <div id="root"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
  </body>

</html>
